
.layer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(226, 178, 178);
    margin: 15px;
    border: 1px solid black;
    flex-flow: wrap;
}

.node{
    border: 1px solid black;
}

#output{
    height: 15rem;
    margin: 5px;
    border: 1px solid black;
    overflow: auto;
}

#inputFile {
    height: 5rem;
    margin: 5px;
    border: 1px solid black;
}

#stage {
    
    position: relative;
    border: 2px solid black;
  }

canvas {
    position: absolute; 
    border: 3px solid black;
}
#layer_canvas { 
    z-index: 2; 
    position: absolute; 
    border: 3px solid black;
}